<div class="container mt=3">
  <div class="row">
    <div class="form-group col">
      <div class="card-mt-4" style="margin-top: 5%; min-width: 25rem;">
        <div class="card-header">
          <h3>Chat</h3>
          <div class="row">
            <div class="form-group col-8">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            </div>
            <div class="form-group col-4">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
          </div>
          <button class="btn btn-primary my-2 my-sm-0" type="button" data-toggle="collapse"
            data-target="#collapsCreateChat" aria-expanded="false" aria-controls="collapsCreateChat">Create
            Chat</button>
        </div>
        <div class="row">
          <div class="col">
            <form [formGroup]="groupForm">
              <div class="collapse multi-collapse" id="collapsCreateChat">
                <div class="card card-body">
                  <input class="form-control mr-sm-2" formControlName="name" placeholder="Input Group-Chat Name" />
                  <p></p>
                  <span>Select Group-type:</span>
                  <select class="form-control" formControlName="group_type" placeholder="Select group type">
                    <option *ngFor="let item of groupType[0]" value={{item.id}}>{{item.name}}</option>
                  </select>
                  <p></p>
                  <button class="btn btn-primary my-2 my-sm-0" (click)="onCreateChat()">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card card-body-fluid">
          <div class="row no-gutters" *ngFor="let nameList of listName">
            <div class="col-md-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person ml-4 mt-3"
                viewBox="0 0 16 16">
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
              </svg>
            </div>
            <div class="col-md-8">
              <form [formGroup]="anotherUserForm">
                <div class="card-body">
                  <h5 class="card-title">Name: {{nameList.Name}} </h5>
                  <h5>Email: {{nameList.Email}}</h5>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col">
      <div class="card-mt-4" style="margin-top: 3%; min-width: 42rem;">
        <div class="card-header">
          <h3>Message</h3>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">
          <div class="row">
            <div class="form-group col-8">
              <input class="form-control mr-2" placeholder="Message" />
            </div>
            <div class="form-group col-4">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Enter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
