<div class="container mt=3">
  <div class="card mt-4" style="min-width: 50rem; margin-top: 15%; margin-left: 65%;">
    <div class="card-header">
      <h3>Login</h3>
    </div>
    <div class="card-container mt-3 ml-3">
      <div class="card-body">
        <div class="row justify-content-center mt-3">
          <div class="col">
            <form  [formGroup]="Loginform">
              <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" placeholder="Enter Email" formControlName="Email" required>
              </div>
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" formControlName="Password"
                  required>
              </div>
              <div class="row">
                <div class="form-group col-6 ">
                  <button class="btn btn-success btn-block" type="submit" (click)=" onLogin()">Login</button>
                </div>
                <div class="form-group col-6">
                  <button class="btn btn-primary btn-block" type="submit" (click)=" onRegisterClick()">Register</button>
                </div>
              </div>
            </form>
          </div>
